<%provide(:title, 'Home') %>
<div class="container-fluid">
	<!-- You are at Home-->
	<ul class="breadcrumb">
  		<li class="active">Home</li>
	</ul>

	<div class="row-fluid">
		<div class="span4">
			<h2>Laboratory Reports</h2>
			<p>
				Our laboratory and methodological expertise is pathleoethnobotany or archaeobotany--the study of plants used by humans in the past. The main work in the laboratory is with macrobotanical remains (e.g. seeds and tubers) but also on wood as well. Collaboration with the UC Berkeley Archaeologocal Research Facility also enables the laboratory to undertake microbotanical projects, including but not limited to the investigation of phytolith and starch remains.
			</p>
			<p>
				<%= link_to "View details >>",'#', class: "btn btn-mini" %>
			</p>
		</div>
		<div class="span4">
			<h2>Some Header</h2>
			<p>
				Professor Hastorf directs the UCB McCown Archaeobotany Laboratory where a series of analytical projects are going on. Students working here have a chance to join current laboratory and field projects. We include undergraduates, graduates, and postdoctoral researchers in all facets of our research.
			</p>
			<p>
				<%= link_to "View details >>", 'contact_path', class: "btn btn-mini" %>
			</p>
		</div>
		<div class="span4">
			<h2>Flotation (and Haikus)</h2>
			<blockquote>
				<p>
					Sifting exactly all the voided seeds,<br />
					After two and a half millennia,<br />
					She separates and gives a certain name <br />
					To each sieved partical. And so she reads<br />
					The menu when the customers ahve gone<br />
					into the dark, and paid their final bill.<br />
					This process-mechanical, meticulous<br />
					Do not despise it: it counts out the stuff<br />
					That made them what they were, and gave to us<br />
					(Greedy for every scrap) a catalogue<br />
					Of how they harvested, and fed, and left<br />
					Immortal messages of feasts and fasts.<br />
					<small>Anthony Thwaite in <cite title="Source Title">The Guardian August 4, 2007</cite></small>
				</p>
			</blockquote>
			<p>
				<%= link_to "View details >>", '#', class: "btn btn-mini" %>
			</p>
		</div>
	</div>
</div>