<% provide(:title, 'Home') %>

<div id="dvmaincontainer">
  	<!--main div container starts here-->

  		<div id="dvtopcontainer">
    	<!-- top container starts here-->

    		<div id="dvlogocontainer">
      	<!-- logo container starts here-->
	  			<h1>McCown UC Berkeley Archaeobotany Laboratory</h1>
      	<!-- logo container ends here-->
    		</div>

				<div id="dvnavicontainer">
		  	<!-- navigation div starts here-->
						<div id="tabs1" >
		    			<ul>
		      			<li id="current"><a href="index.html"><span>Home</span></a></li>
		      			<li><a href="Research/research.html"><span>Research</span></a></li>
		      			<li><a href="Resource/resource.html"><span>Resources</span></a></li>
		      			<li><a href="People/people.html"><span>People</span></a></li>
								<li><a href="Contact/contact.html"><span>Contact</span></a></li>
		    			</ul>
							<!-- tabs1 ends here-->
		  			</div>
		  	<!-- navigation div ends here-->
			</div>

    <!-- dvtopcontainer ends here-->
  	</div>



  <div id="dvbodycontainer">
    <!-- body div starts here-->



    <div id="dvbannerbgcontainer" class="ucblinkdef">
      <!-- banner bg div starts here-->
      <div class="lftcontainer">
        <div class="dvbannerleft">
         <!-- banner left div starts here-->
          <a href="Research/research.html">
						<img src="images/light.jpg" width="53" height="53" />
					</a>
          <p><b>Laboratory Reports</b>   <br/> <a href="Research/reports.html">Click here</a>
        <!-- banner left div ends here-->
        </div>

        <div class="dvbannerleft">
          <!-- banner left div starts here-->
					<a href="Contact/contact.html">
          	<img src="images/home_icon.jpg"  width="53" height="53" />
					</a>
          <p><b>Contact Information</b>   <br/>65 Kroeber Hall, (510) 643-1112 <br /> View us on the <a href="Contact/contact.html">map</a> </p>
          <!-- banner left div ends here-->
        </div>

				<div class="dvbannerleft">
          <!-- banner left div starts here-->
					<a href="Poem/poem.html">
          	<img src="images/rpt.jpg" alt="Poems" width="53" height="53" />
					</a>
          <p><b>Haikus</b> <br /> <a href="Poem/poem.html">Click Here</a>
          <!-- banner left div ends here-->
        </div>
				<!-- lftcontainer ends here.-->
			</div>

      <div id="dvbanner">
       <!-- right banner div starts here-->
        <img src="images/flotation.jpg"  alt="floation image" title="Flotation"/>
        <!-- right banner div ends here-->
      </div>
      <!-- banner bg div ends here-->
    </div>




    <div id="dvleftpanel">
      <!-- left body content div starts here-->
      <div id="topimage">
        <!-- top left div starts here-->
       Laboratory Director 
        <!-- top left image div end here-->
      </div>

      <div id="midcont" class="ucblinkdef">
        <!-- left body content for professor bio starts here-->
				<div id="profbio">
					<h1>Christine Hastorf</h1>
					<h2>UC Berkeley Professor <br /> of Anthropology</h2>
					<br/>
					<p><img src="People/images/Professor.jpg" alt="image of Professor Hastorf" title="Professor Hastorf" width="90" height="117" /></p>
					
					<div id="cont">
        		<p><span>Contact Information:</span></p>
						<div id="contactinfo">
							<p>hastorf@berkeley.edu</p>
							<p>232 Kroeber Hall</p>
							<p>Department of Anthropology</p>
							<p>University of California Berkeley</p>
							<p>Berkeley, CA 94720-3710</p>
							<p><a href="http://anthropology.berkeley.edu/users/christine-hastorf" target="_blank">Personal Homepage</a></p>
							<p><a href="http://anthropology.berkeley.edu" target="_blank">Department of Anthropology</a></p>
							<!-- contact div ends here-->
						</div>
					
				 		<p><span>Office Hours:</span></p>
						<div id="officehour">
							<p>Wed 1-2pm, Thu 2-4pm</p>
							<p>Room 215</p>
							<p>2251 College Building(ARF)</p>
							<!-- officehour div ends here-->
						</div>
						<!-- cont div ends here-->
					</div>
					
					<!-- professor bio div ends here-->
				</div>
        <!-- midcont div ends here-->
      </div>
      <!-- left pannel div ends here-->
    </div>




    <div id="dvrightpanel">
      <!-- right panel div starts here-->
      <h1>What research are we doing?</h1>
      <p>Our laboratory and methodological expertise is what is called paleoethnobotany or archaeobotany--the study of plants used by humans in the past. The main work in the laboratory is with macrobotanical remains (e.g. seeds and tubers) but also on wood as well.  Collaboration with the UC Berkeley Archaeological Research Facility also enables the laboratory to undertake microbotanical projects, including but not limited to the investigation of phytoliths and starches.</p>

		<div class="learn"><span><a href="Research/research.html">LEARN MORE</a></span></div>
      <div class="line"><img src="images/h_line.jpg" alt="A line" width="535" height="1" /></div>
      <h1>Our Team</h1>
      <p>Professor Hastorf directs the UCB McCown Archaeobotany Laboratory where a series of analytical projects are going on. Students working here have a chance to join in on current laboratory and field projects. We include undergraduates, graduates, and postdoctoral researchers in all facets of our research.</p>
      <div class="learn"><span><a href="People/people.html">LEARN MORE</a></span></div>
			<div class="line"><img src="images/h_line.jpg" alt="A line" width="535" height="1" /></div>
			<h1>Flotation</h1>
      <p>
					Sifting exactly all the voided seeds.</br>
					After two and a half millennia,</br>
					She separates and gives a certain name</br>
					To each sieved particle. And so she reads</br>
					The menu when the customers have gone</br>
					Into the dark, and paid their final bill.</br>
					This process - mechanical, meticulous –</br>
					Do not despise it: it counts out the stuff</br>
					That made them what they were, and gave to us</br>
					(Greedy for every scrap) a catalogue</br>
					Of how they harvested, and fed, and left</br>
					Immortal messages of feasts and fasts.
			</p>
		<p>by Anthony Thwaite, printed in <em>The Guardian</em>, August 4, 2007</p>
      <div class="learn"><span><a href="Poem/poem.html">LEARN MORE</a></span></div>
			<!-- content right panel ends here-->
    </div>



    <!-- body div ends here-->
  </div>




  <div id="dvfootercontainer">
    <!-- footer div starts here-->
    <div id="foottop" class="ucblinkdef">
      <p><span>Copyright 2012 Archaeobotany Lab</span></p>
			<p>
				<span><a href="http://berkeley.edu/" target="_blank">UC Berkeley</a> | </span>
				<span><a href="http://anthropology.berkeley.edu/" target="_blank">Department of Anthropology</a> | </span>
				<span><a href="Contact/contact.html">Contact Us</a></span>
			</p>
			<img src="images/berkeley.png" alt="Berkeley Seal" title="Berkeley Seal" width="60" height="60">
			<!-- footer content ends here-->
    </div>
    <!-- footer div ends here-->
  </div>



  <!--main div container ends here-->
</div>

