<!DOCTYPE html>
<html>
	<head>
		<title>UC Berkeley McCown Archaeobotany Laboratory</title>
		<meta charset="utf-8">
		<meta name="Jingjie Zhan" content="zhanjingjie.jj@gmail.com">
		<meta name="description" content="Home of the UC Berkeley McCown Archaeobotany Laboratory, including information concerning current research, members, lab reports.">
		<link href="../css/default.css" rel="stylesheet" type="text/css">
		<link href="../css/research.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="dvmaincontainer">
  	<!--main div container starts here-->



  		<div id="dvtopcontainer">
    	<!-- top container starts here-->

    		<div id="dvlogocontainer">
      	<!-- logo container starts here-->
	  			<h1>McCown UC Berkeley Archaeobotany Laboratory</h1>
      	<!-- logo container ends here-->
    		</div>

				<div id="dvnavicontainer">
		  	<!-- navigation div starts here-->
						<div id="tabs1" >
		    			<ul>
		      			<li><a href="../index.html"><span>Home</span></a></li>
		      			<li id="current"><a href="../Research/research.html"><span>Research</span></a></li>
		      			<li><a href="../Resource/resource.html"><span>Resources</span></a></li>
		      			<li><a href="../People/people.html"><span>People</span></a></li>
								<li><a href="contact.html"><span>Contact</span></a></li>
		    			</ul>
							<!-- tabs1 ends here-->
		  			</div>
		  	<!-- navigation div ends here-->

 			</div>
    <!-- dvtopcontainer ends here-->
  	</div>



  <div id="dvbodycontainer">
    <!-- body div starts here-->



  <div id="dvbannerbgcontainer" class="ucblinkdef">
      <!-- banner bg div starts here-->
      <div class="lftcontainer">
        <div class="dvbannerleft">
         <!-- banner left div starts here-->
          <a href="/Research/research.html">
						<img src="../images/light.jpg" width="53" height="53" />
					</a>
          <p><b>Laboratory Reports</b>   <br/> <a href="reports.html">Click here</a>
        <!-- banner left div ends here-->
        </div>

        <div class="dvbannerleft">
          <!-- banner left div starts here-->
					<a href="../Contact/contact.html">
          	<img src="../images/home_icon.jpg"  width="53" height="53" />
					</a>
          <p><b>Contact Information</b>   <br/>65 Kroeber Hall, (510) 643-1112 <br /> View us on the <a href="../Contact/contact.html">map</a> </p>
          <!-- banner left div ends here-->
        </div>

				<div class="dvbannerleft">
          <!-- banner left div starts here-->
					<a href="../Poem/poem.html">
          	<img src="../images/rpt.jpg" alt="Poems" width="53" height="53" />
					</a>
          <p><b>Haikus</b> <br /> <a href="../Poem/poem.html">Click Here</a>
          <!-- banner left div ends here-->
        </div>
				<!-- lftcontainer ends here.-->
			</div>

      <div id="dvbanner">
       <!-- right banner div starts here-->
        <img src="../images/flotation.jpg"  alt="floation image" title="Flotation"/>
        <!-- right banner div ends here-->
      </div>
      <!-- banner bg div ends here-->
    </div>



		<div id="rescategories">
			<div id="category" class="ucblink">
				<h1>Link To</h1>
				<ul>
					<li><a href="#currentresearch"><span>Current Research</span></a></li>
					<li><a href="reports.html"><span>Laboratory Reports</span></a></li>
				</ul>
				<!-- category div ends here -->
			</div>
				<!-- resource categories div ends here-->
		</div>
		
		
		
		<div id="researchbody">
			<div id="currentposition" class="ucblink">
				<p>You are here: <a href="../index.html">Home</a> / Research</p>
			</div>
		
			<div id="currentresearch">
				<h1>McCown Archaeobotanical Laboratory Current Projects: </h1>

				<h2>Moche Cuisine and domestic foodways - Katherine Chiou</h2>
				<p>My dissertation research focuses on illuminating the ordinary and extraordinary aspects of cuisine and life among the Moche people who resided in the Jequetepeque Valley on the north coast of Peru in the Late Moche period (AD 500-750). I am conducting a comparative study of food data recovered from excavations in Area 35 of San José de Moro, an elite burial ground and ceremonial center with evidence of elaborate rituals and feasting, and households in the habitation area of lower Cerro Chepén, a large settlement located beneath the fortified, hilltop homes and ceremonial/administrative buildings of the site’s elite residents.  These faunal and paleoethnobotanical data will be used, in conjunction with multiple lines of evidence (ceramic, lithic, architectural, etc.) to gain a better understanding of the mundane and exceptional aspects of Moche life among rich and poor.</p>  
				<h2>Archaeobotanical Field samping  in dry areas- Katherine Chiou</h2>
				<p>My primary methodological interest has been working on the issue of dry-screening vs. flotation in dry, sandy conditions typical of desert environments and the effect that choice of processing method has on the recovery of plant data and eventually, interpretation. Along with Christine A. Hastorf and Anita. G. Cook (Catholic University of America), botanical remains recovered from both screening and flotation at the Middle Horizon site of Casa Vieja in the Ica Valley, Peru were analyzed. While small, weedy seeds seem to fare better in flotation samples, larger plant remains such as maize cobs were overwhelmingly present in screening samples. I am also currently pursuing this issue in my own research in the Jequetepeque Valley, and am particularly interested in establishing the differences in recovery rates for carbonized and desiccated plant remains using screening and flotation.</p>
				<h2>Native Plant Seeds of Central California   - Rob Cuthrell</h2>
				<p>Our lab is working on producing a digital photographic reference collection of Central California native plant seeds. There are two components to this project. The first component involves creating high-resolution digital images of as many seeds as possible, using both modern seed collections from public agencies (the Golden Gate National Recreation Area Seed Lab and the California Seed Herbarium) and the lab's historic seed collections. The second component focuses on native Poaceae caryopses, and includes collecting morphometric as well as morphological information about variation in this family. We are working to produce a digital atlas of central coast Poaceae that will be made available on this website.</p>
				<h2>Sustaining Community under Empire - Alan Farahani</h2>
				<p>The archaeological site of <a href="www.dhiban.org">Dhiban, Jordan</a>, located in west-central Jordan, has been continuously inhabited since the Early Iron Age (c. 1000 BCE) until the present day.  My dissertation research utilizes paleoethnobotany, heavy fraction analysis, stable organic isotopes, GIS modeling, and documentary data to understand in a long-term perspective how different communities in Dhiban's history (Iron Age, Roman, and to some extent Early Medieval) negotiated the interventions of non-local imperial polities and were part of a complex, semi-arid Mediterranean landscape.</p>

				<h2>Early Capsicum on Peruvian coast Project - Christine Hastorf and Katherine Chiou</h2>
				<p>We are working on a project concerning changes in chile pepper (Capsicum spp.) over time at the Preceramic sites of Huaca Prieta and Paredones on the north coast of Peru. Using seeds recovered from archaeological deposits excavated by Prof. Tom Dillehay along with a modern reference collection of the 5 domesticated species of chile pepper (C. annuum, C. baccatum, C. chinense, C. pubescens, and C. frutescens) and two wild species (C. galapagoense, C. chacoense), we are conducting a morphometric assessment that will hopefully allow us to know not only which species were cultivated, but also how chile pepper cultivars change through time over a period of 3000 years [Phases 2-5 (7572-3455 BP)].</p>
				<h2>Early Colonial house construction in the central Andes -Christine Hastorf</h2>  
				<p>As part of a project initiated by Dr. Stella Nair, Christine Hastorf with the help of Dr. Sonia Archila have been making thin sections of both modern wood specimens as well as archaeological wood samples from a well preserved early Colonial mud brick house in the town of Chinchero, Peru.  Both the wood and the herbaceous roof matter are being analyzed in the lab at this time.</p>
				<h2>Archaeological tuber Identification - Christine Hastorf</h2> 
				<p>With Chia chin Wu, we are working on developing a systematic way to describe and identify archaeological tubers that have been burned.  Wu has been working on this for several years.  With a primary interest in Andean tubers, beginning with Solanum and Oxalis, we hope to expand this in the near future.</p> 
				<h2>The domestication process of Chenopodium in the Andes - Christine Hastorf</h2>
				<p>In conjunction with several archaeobotanists, Dr. Maria Bruno and Brie Anna Langlie, there has been an effort to identify Chenopodium that we are encountering in the altiplano of the Andean region through attribute analysis tracing the morphological changes in the excavated and floated varieties.</p>
				<h2>Curation of plant collections - Christine Hastorf</h2>
				<p>The laboratory’s plant type collection is continuing to be recorded in an electronic data base that will eventually be on the web, but currently is usable for those working in the laboratory.  At this time we have the following macrobotanical collections:  Andean seed, Andean wood, Andean maize, historic California seed, Mesoamerican seed, Near Eastern, and American South West.</br>  
				There are also other specific type collections located in the laboratory that must be entered, including the tuber, the fiber, the dung, and the cocoa collection. We are also currently organizing all of our images of plants to create a database for use by family and genus. </p>
				<h2>Searching for Seeds and Sizing Up Shell – Theresa Molino</h2>

				<p>A collaborative study by Monica Parks and Theresa Molino investigates archaeological signatures of shell midden creation of past maritime hunter-gatherer societies that lived at the mouth of the Coquille River in south central Oregon during the late Holocene.   We draw upon a limited number of soil samples, that range from three to four liters each, to consider how the results of soil sample processing may provide artifact and ecofact evidence as an assemblage source.  We address questions of spatial organization of small communities and explore plant use at sites associated with shellfish harvesting to consider correlate relationship with domestic structures associated with cultural shell middens.</p>




				
				
				
				
				<!-- currentresearch div ends here -->
			</div>
			
							
			<!-- researchbody div ends here -->
		</div>

		<!-- body div ends here-->
	  </div>




	  <div id="dvfootercontainer">
	    <!-- footer div starts here-->
	    <div id="foottop" class="ucblinkdef">
	      <p><span>Copyright 2012 Archaeobotany Lab</span></p>
				<p>
					<span><a href="http://berkeley.edu/" target="_blank">UC Berkeley</a> | </span>
					<span><a href="http://anthropology.berkeley.edu/" target="_blank">Department of Anthropology</a> | </span>
					<span><a href="Contact/contact.html">Contact Us</a></span>
				</p>
				<img src="../images/berkeley.png" alt="Berkeley Seal" title="Berkeley Seal" width="60" height="60">
				<!-- footer content ends here-->
	    </div>
	    <!-- footer div ends here-->
	  </div>
		



	  <!--main div container ends here-->
	</div>
	</body>
	</html>


