@import "bootstrap";

/* universal */

$CalGold: #BB9F89;
$CalBlue: #2D61BD;
$LightGray: #999;
$FooterGray: #f5f5f5;

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}


/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	letter-spacing: -1.5px;
	margin-bottom: 15px;
	text-align: center;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
	text-align: left;
}

h4 {
	font-size: 1.5em;
	text-align: left;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}


/* header */


#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	letter-spacing: -1px;
	padding: 9px 20px 0px 30px;
	font-weight: bold;
	line-height: 1;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

#myCarousel {
	border: 2px solid $LightGray;
	/* It's a hack because of a bug in the bootstrap fluid offset.*/
	margin-left: 128px;
	h4 {
		margin-bottom: 5px;
	}
	p {
		font-size: 1em;
		line-height: 1em;
	}
}

.carousel-indicators {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 5;
	margin: 0;
	list-style: none;
}


/* footer */

footer {
	margin-top: 45px;
	padding-top: 20px;

	padding-bottom: 200px;
	background-color: $FooterGray;
	border-top: 1px solid #eaeaea;
	border-width: 2px;
	color: $LightGray;
	a {
		color: $LightGray;
		&:hover {
			color: $CalGold;
			text-decoration: none;
		}
	}
	small {
		font-size: 0.9em;
		float: left;
		margin-left: 50px;
	}
	nav {
		float: right;
		margin-right: 50px;
	}
	ul {
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
	#image {
		float: right;
		margin-top: 20px;
	}
}

