@import "bootstrap";

/* universal */

$CalGold: #BB9F89;
$CalBlue: #2D61BD;
$LightGray: #999;

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}


/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $LightGray;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}


/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.5em;
	color: white;
	letter-spacing: -1px;
	padding: 9px 20px 0px 30px;
	font-weight: bold;
	line-height: 1;
	&:hover {
		color: white;
		text-decoration: none;
	}
}


/* footer */

footer {
	margin-top: 45px;
	padding-top: 20px;
	border-top: 1px solid #eaeaea;
	color: $LightGray;
	a {
		color: #555;
		&:hover {
			color: $CalGold;
			text-decoration: none;
		}
	}
	small {
		font-size: 0.9em;
		float: left;
		margin-left: 50px;
	}
	nav {
		float: right;
		margin-right: 50px;
	}
	ul {
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
	#image {
		float: right;
		margin-top: 20px;
	}
}