@import "bootstrap";

/* universal */

$CalGold: #BB9F89;
$CalBlue: #2D61BD;
$MainContentColor: #5d5d5d;
$LightGray: #999;
$FooterGray: #f5f5f5;
$ScreenSize: 1365px;
$MaxSize: 1500px;

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
	min-width: $ScreenSize;
	max-width: $MaxSize;

	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: $MainContentColor;
	line-height: 20px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}


/* typography */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
	font-weight: lighter;
	color: $MainContentColor;
	text-shadow: 0 1px 0 rgba(255,255,255,.7);
	line-height: 1;
	letter-spacing: -1.5px;
	margin-bottom: 15px;
	text-align: center;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2.1em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.15em;
}



/* header */

header .hero-unit {
	background: #f8f8f8 url(app/assets/images/pattern.jpg) left top repeat;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
}

.navbar {
	min-width: $ScreenSize;
	max-width: $MaxSize;
}

#navigation {
	li a { 
		font-size: 14px;
	}
	.active {background-color: black; border-bottom: 3px solid $CalBlue;}
	.nav-link {
		padding-left: 15px;
		padding-right: 15px;
	}
	.divider-vertical {
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
}


#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	letter-spacing: -1px;
	padding: 9px 20px 0px 30px;
	font-weight: normal;
	line-height: 1;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

#quickAccess {
	margin-left: 60px;
	section {
		h3 {
			text-align: left;
		}
		p {
			font-size: 1.2em;
		}
	}
	#section1 {
		margin-top: 5px;
	}
	#section2 {
		margin-top: 30px;
	}
}

#myCarousel {
	padding: 5px;
	border: 2px solid $LightGray;
	/* It's a hack because of a bug in the bootstrap fluid offset.*/
	margin: 0 60px 0 40px;
	h4 {
		text-align: left;
		margin-bottom: 5px;
		letter-spacing: normal;
	}
	p {
		font-size: 1em;
		line-height: 1em;
	}
}



/* body */

#content p {
	padding: 10px 20px 0 20px;
}

#content #home {
	#home-content-left {
		// Hard code to let both borders have same length
		padding-bottom: 100px;
		border-right: 1px dotted $LightGray;
	}
	#home-content-right {
		padding-left: 50px;
		border-left: 1px dotted $LightGray;
	}
}

#content #research {
	.row-fluid { padding-top: 30px;}
}



/* footer */

footer {
	margin-top: 45px;
	padding-top: 20px;
	padding-bottom: 20px;
	min-width: $ScreenSize;
	max-width: $MaxSize;
	background: #f8f8f8 url(app/assets/images/pattern.jpg) left top repeat;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
	color: $LightGray;
	.row-fluid { padding-top: 30px;}
	.widget {
		text-align: left;
		p {
			padding-left: 20px;
			padding-right: 20px;
			line-height: 24px;
		}
	}
	a {
		color: $LightGray;
		&:hover {
			color: $CalGold;
			text-decoration: none;
		}
	}
	small {
		font-size: 0.9em;
		float: left;
		margin-left: 50px;
	}
	nav {
		float: right;
		margin-right: 50px;
	}
	ul {
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
	#image {
		float: right;
		margin-top: 20px;
	}
}

