<footer class="footer">
	<small>
		<p>Copyright 2013 UC Berkeley McCown Archaeobotany Laboratary</p>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://anthropology.berkeley.edu/">Department of Anthropology</a></li>
			<li><a href="http://berkeley.edu/">UC Berkeley</a></li>
		</ul>
		<%= image_tag "berkeley.png", alt:"UC Berkeley logo", id: "image" %>
	</nav>
	
</footer>