<div id="dvtopcontainer">
    <div id="dvlogocontainer">
	  	<h1>McCown UC Berkeley Archaeobotany Laboratory</h1>
    </div>

	<div id="dvnavicontainer">
		<div id="tabs1" >
		    <ul>
		      	<li id="current"><a href="index.html"><span>Home</span></a></li>
		      	<li><a href="Research/research.html"><span>Research</span></a></li>
		      	<li><a href="Resource/resource.html"><span>Resources</span></a></li>
		      	<li><a href="People/people.html"><span>People</span></a></li>
				<li><a href="Contact/contact.html"><span>Contact</span></a></li>
		    </ul>
		<!-- tabs1 ends here-->
		</div>
	<!-- navigation div ends here-->
	</div>
<!-- dvtopcontainer ends here-->
</div>


<div id="dvbannerbgcontainer" class="ucblinkdef">
    <div class="lftcontainer">
        <div class="dvbannerleft">
          	<a href="Research/research.html">
				<img src="images/light.jpg" width="53" height="53" />
			</a>
          	<p><b>Laboratory Reports</b></p><br/> 
          	<a href="Research/reports.html">Click here</a>
        <!-- banner left div ends here-->
        </div>

        <div class="dvbannerleft">
			<a href="Contact/contact.html">
          		<img src="images/home_icon.jpg"  width="53" height="53" />
			</a>
          	<p><b>Contact Information</b><br/>
          		65 Kroeber Hall, (510) 643-1112<br /> 
          		View us on the <a href="Contact/contact.html">map</a> 
          	</p>
        <!-- banner left div ends here-->
        </div>

		<div class="dvbannerleft">
			<a href="Poem/poem.html">
          		<img src="images/rpt.jpg" alt="Poems" width="53" height="53" />
			</a>
          	<p><b>Haikus</b></p> <br/> <a href="Poem/poem.html">Click Here</a>
        <!-- banner left div ends here-->
        </div>
	<!-- lftcontainer ends here.-->
	</div>

    <div id="dvbanner">
        <img src="images/flotation.jpg"  alt="floation image" title="Flotation"/>
    <!-- right banner div ends here-->
    </div>
<!-- banner bg div ends here-->
</div>
